port=9093
bind=127.0.0.1
defaultquota=1500
dbuser=policyd_daemon
dbpass=WhateverYouWantAsPassword
dbhost=smtps.uvsq.fr
dbport=3306
dbname=policyd
policy_table=events
# usesyslog=yes
# pidfile = /var/run/policyd.pid
whitelist=thisloginiswhitelisted
